<div class="container footer" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout.lt-md="column">
  <div fxFlex fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex fxFlexOffset="20px">
        <h4>
          Links
        </h4>
        <mat-list>
          <mat-list-item><a mat-button>Home</a></mat-list-item>
          <mat-list-item><a mat-button>About</a></mat-list-item>
          <mat-list-item><a mat-button>Menu</a></mat-list-item>
          <mat-list-item><a mat-button>Contacts</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="font-size: 80%">
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
          <i class="fa fa-phone"></i>: +91 8287-304-907<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:khattarj1234@gmail.com ">yummy@Foodiepie.net</a>
        </address>
      </div>
    </div>
  </div>
</div>